@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(//themes.googleusercontent.com/static/fonts/ubuntu/v5/c2KTkZ_oLp2UOMwi4GGs9A.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(//themes.googleusercontent.com/static/fonts/ubuntu/v5/4z2U46_RRLOfkoHsWJG3vz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

html {
  padding: 0px;
  margin: 0px;
  background: #F7F7F7;
  color: #333;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu', arial, serif;
  font-size: 14px;
  color: #444;
}

div {
  padding:0px;
  margin:0px;
}

a {
  display: block;
  padding-top: 5px;
  color: #fff;
  text-decoration: none;
}

div.links {
  text-align: center;
}

div.links img {
  margin: 20px;
  border: 2px solid #AAAAAA;
}

div.links a {
  display: inline-block;
  color: #1010FF;
  font-size:25px;
}

a:hover {
  text-decoration:underline;
}

div.menu {
  position: absolute;
  right:15px;
  top:15px;
  text-align:right;
  font-size:16px;
  z-index:999999999;
  color:rgba(150,150,150,.8);
  background-color:rgba(34,34,34,.8);
  padding-left:5px;
  padding-right:5px;
  padding-bottom:3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

div.menu a {
  display:inline-block;
  padding:5px;
}

.player {
  position:absolute;
  display: inline-block;
  float: left;
  clear: right;
  z-index:999999999;
}

.max::before {
  position: absolute;
  content: "";
  top: 0.35em;
  left: 0.60em;
  width: 0em;
  height: 0em;
  border-bottom: 1.2em solid #fff;
  border-left: 0.8em solid transparent;
}

.mute::before {
  position: absolute;
  content: "";
  top: 0.35em;
  left: 0.65em;
  width: 0em;
  height: 0em;
  border-bottom: 1.2em solid #fff;
  border-right: 0.8em solid transparent;
}

.buttons {
  text-align:center;
  margin-top:-10px;
  margin-left:25px;
}

.button {
  display: inline-block;
  cursor: pointer;
  width:2em;
  height:2em;
  border-radius:50%;
  position:relative;
  border: 0.3em solid rgba(150,150,150,.8);
  margin-left:5px;
  margin-right:5px;
  background-color:#222;
}

.play::before {
  position: absolute;
  content: "";
  top: 0.45em;
  left: 0.70em;
  width: 0em;
  height: 0em;
  border-top: 0.6em solid rgba(44, 44, 44, 0);
  border-bottom: 0.6em solid transparent;
  border-left: 0.8em solid #fff;
}

.pause::before {
  position: absolute;
  background: #fff;
  content: "";
  top: 0.5em;
  left: 0.65em;
  width: 0.3em;
  height: 1em;
}

.pause::after {
  position: absolute;
  background: #fff;
  content: "";
  top: 0.5em;
  right: 0.65em;
  width: 0.3em;
  height: 1em;
}

.volume {
  position: absolute;
  display: inline-block;
  height: 115px;
  width: 10px;
  background: rgba(150,150,150,.8);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.vW {
  position: absolute;
  display: inline-block;
  width: 10px;
  margin-left: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  left: 160px;
  top: 20px;
}

.ui-slider-handle {
  display: block;
  position: absolute;
  width: 20px;
  height: 14px;
  margin-bottom: -10px;
  margin-left: -5px;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}

.albumArt {
  height:150px;
  width:150px;
  padding:5px;
}

.albumArt img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  opacity:.95;
}

.trackName {
  height:30px;
  position:absolute;
  left:210px;
  margin-top:155px;
  z-index:999999999;
  background-color:rgba(34,34,34,.8);
  color:#fff;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -khtml-border-radius:4px;
  border-radius:4px;
  text-overflow:ellipsis;
  overflow:hidden;
}

.trackName a {
  display:block;
  padding:5px;
  cursor:default;
  text-overflow:ellipsis;
  height:20px;
}

.trackName a:hover {
  text-decoration:none;
}

.cont {
  display: block;
  position:absolute;
  padding-top: 0px;
  padding-bottom: 0px;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.chat {
  margin-left:5px;
  margin-right:5px;
}

.menubg {
  position: absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  opacity:.9;
}

.backstretch img {
  width: 120% !important;
  margin-left: -50px !important;
  -webkit-filter:blur(25px);
  -moz-filter:blur(25px);
  -o-filter:blur(25px);
  -ms-filter:blur(25px);
  filter:blur(25px);
  filter:url(/img/blur#blur);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='25');
}
