@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/c2KTkZ_oLp2UOMwi4GGs9A.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/4z2U46_RRLOfkoHsWJG3vz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/0bJAQfNpYDMK5gdvWOS2DfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/OMD20Sg9RTs7sUORCEN-7WOb2gHztoQeulij-1lvl-8.woff) format('woff');
}
@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: local('Bad Script Regular'), local('BadScript-Regular'), url(http://themes.googleusercontent.com/static/fonts/badscript/v3/xvnrV3H3fZsc-fSw6fOJeBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
html, body {
	padding: 0px;
	margin: 0px;
	margin: auto;
	background: #222;
	color: #F7F7F7;
	font-family: 'Bad Script', cursive;
}
div {padding: 0px;margin: 0px;text-align: center;}
a {display: block;color: #F7F7F7;text-decoration: none;}
.header, .albumArt, .trackName, .player, .br {width: 300px;margin: auto;}
.albumArt{height:300px;}
.header{font-family: 'Ubuntu', arial, serif;!important;}
.separator{position:block;left:0px;min-width:300px;width:100%;background:#F7F7F7;border-top:1px solid #F7F7F7;font-size:1px;height:1px;margin-bottom:10px;}
img{display:block;margin:0px;padding:0px;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}
h1{margin:0px;padding:10px 0px;}
.changebr{display:inline-block;float:left;}
.nowbr{display:inline-block;float:right;}
.player{margin-top:10px;}
a.m3u-link{display:inline-block;}
